############################
# CAMPAIGN MONITOR
############################

CampaignMonitorWrapper:
  ### REQUIRED ###
  campaign_monitor_url: ""
  # (see http://yourcompany.createsend.com/admin/account/)
  client_id: ""
  ### OPTION 1: API KEY ###
  api_key: ""
  ### OPTION 2: OAUTH ###
  client_secret: ""
  redirect_uri: ""
  code: ""

############################
############################
