############################
# START CAMPAIGN MONITOR
############################

CampaignMonitorWrapper:
  # (see http://yourcompany.createsend.com/admin/account/)
  campaign_monitor_url: ""
  api_key: ""
  client_ID: ""

############################
# END CAMPAIGN MONITOR
############################
